<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil do Usuário</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <style>
      .align-items-start {
        align-items: flex-start !important;
      }

      .container-profile {
        max-width: 600px;
        margin: auto;
      }

      .user-info,
      .edit-form {
        text-align: center;
        max-width: 300px;
        margin: auto;
      }

      .user-info ul {
        padding: 0;
      }

      .user-info ul li {
        list-style: none;
        margin-bottom: 10px;
      }

      .user-info .user-name {
        font-size: 24px; /* Tamanho da fonte do nome */
        font-weight: bold; /* Deixa o nome em negrito */
        margin-top: 20px; /* Espaçamento acima do nome */
      }

      .edit-form label,
      .edit-form input,
      .edit-form button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

      .edit-form input,
      .edit-form button {
        padding: 5px;
        box-sizing: border-box;
      }

      .button-group {
        display: flex;
        justify-content: space-between;
      }

      .password-container {
        position: relative;
      }

      .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .toggle-password {
        border: none; /* Remove a borda */
        background: transparent; /* Torna o fundo transparente */
      }

    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #0e2238"
    >
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">{{ title }}</a>
      </div>
    </nav>
    <div class="wrapper">
      <aside id="sidebar">
        <div class="d-flex">
          <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
          </button>
          <div class="sidebar-logo">
            <a href="#">Olá, {{ user_name }}</a>
          </div>
        </div>
        <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a
              href="{{ url_for('home') }}"
              title="Página inicial"
              class="sidebar-link"
            >
              <i class="lni lni-home"></i>
              <span>Página inicial</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="{{ url_for('cursos') }}"
              title="Cursos"
              class="sidebar-link"
            >
              <i class="lni lni-agenda"></i>
              <span>Cursos</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              href="#"
              class="sidebar-link collapsed has-dropdown"
              data-bs-toggle="collapse"
              data-bs-target="#auth"
              aria-expanded="false"
              aria-controls="auth"
              title="Avaliações"
            >
              <i class="lni lni-graduation"></i>
              <span>Avaliações</span>
            </a>
            <ul
              id="auth"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <li class="sidebar-item">
                <a
                  href="{{ url_for('provas') }}"
                  title="Provas"
                  class="sidebar-link"
                  >Provas</a
                >
              </li>
              <li class="sidebar-item">
                <a
                  href="{{ url_for('trabalhos') }}"
                  title="Trabalhos"
                  class="sidebar-link"
                  >Trabalhos</a
                >
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a
              href="{{ url_for('perfil') }}"
              title="Perfil"
              class="sidebar-link"
            >
              <i class="lni lni-user"></i>
              <span>Perfil</span>
            </a>
          </li>
        </ul>
        <div class="sidebar-footer">
          <a href="{{ url_for('logout') }}" title="Sair" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Sair</span>
          </a>
        </div>
      </aside>
      <div class="main p-3">
  <div class="container-profile text-center">
    <img
      src="{{ url_for('static', filename='images/user-icon.png') }}"
      alt="Ícone de usuário"
      class="user-icon mb-3"
      style="width: 100px; height: 100px"
    />
    <div class="row align-items-start">
      <div class="col-md-6">
        <h5>Cursos inscritos:</h5>
        <ul class="list-group">
          {% for curso in inscricoes %}
            <li class="list-group-item">{{ curso }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <form id="profileForm" method="POST">
          <fieldset id="disabledProfileFields">
            <legend>Informações do Perfil</legend>
            <div class="mb-3">
              <label for="disabledNome" class="form-label">Nome</label>
              <input type="text" id="disabledNome" name="nome" class="form-control" value="{{ user_data['nome'] }}" disabled>
            </div>
            <div class="mb-3">
              <label for="disabledSobrenome" class="form-label">Sobrenome</label>
              <input type="text" id="disabledSobrenome" name="sobrenome" class="form-control" value="{{ user_data['sobrenome'] }}" disabled>
            </div>
            <div class="mb-3">
              <label for="disabledUsername" class="form-label">Usuário</label>
              <input type="text" id="disabledUsername" name="username" class="form-control" value="{{ user_data['username'] }}" disabled>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <div class="input-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Senha" value="{{ user_data['password'] }}" disabled>
                <button class="btn btn-outline-secondary toggle-password" type="button">
                  <i class="lni lni-eye"></i>
                </button>
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="editButton">Editar Informações</button>
            <button type="submit" class="btn btn-success" id="saveButton" style="display: none;">Salvar</button>
            <button type="button" class="btn btn-secondary" id="cancelButton" style="display: none;">Cancelar</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const editButton = document.getElementById('editButton');
      const cancelButton = document.getElementById('cancelButton');
      const saveButton = document.getElementById('saveButton');
      const togglePasswordButton = document.querySelector('.toggle-password');
      const passwordInput = document.getElementById('password');
      const passwordIcon = togglePasswordButton.querySelector('i');

      // Função para alternar a visibilidade da senha e o ícone
      function togglePassword() {
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          passwordIcon.className = 'lni lni-eye-off';
        } else {
          passwordInput.type = 'password';
          passwordIcon.className = 'lni lni-eye';
        }
      }

      // Evento de clique para o botão "Editar Informações"
      editButton.addEventListener('click', function() {
        // Ativa os campos do formulário e mostra o botão de mostrar/esconder senha
        const fields = document.querySelectorAll('#disabledProfileFields input');
        fields.forEach(function(field) {
          field.disabled = false;
        });
        togglePasswordButton.style.display = 'inline-block';
        // Esconde o botão de editar e mostra os botões de salvar e cancelar
        editButton.style.display = 'none';
        saveButton.style.display = 'inline-block';
        cancelButton.style.display = 'inline-block';
      });

      // Evento de clique para o botão "Cancelar"
      cancelButton.addEventListener('click', function() {
        // Recarrega a página para desfazer as edições
        window.location.reload();
      });

      // Evento de clique para o botão de mostrar/esconder senha
      togglePasswordButton.addEventListener('click', togglePassword);
    });



    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
